/* 
    Document   : layout
    Created on : Sep 12, 2013, 11:12:24 AM
    Author     : Gustaf Ringius <gustaf@linux.com>
    Description:
        This file includes the layout for elements that
        should be the same for all pages like footer
        header and menu should all have the same layout
        on all pages that links to this css file.
*/

root { 
    display: block;
}
#iframe {
   position: absolute;
   left: 0;
   bottom: 0;
}

footer{
    text-align: center;
    font-size: 0.8em;
    width:100%;
    overflow-x: hidden;
    position:fixed;
    bottom:0;
}

header{
    text-align: center;
    font-size: 0.8em;
}
.inline{
    display:inline-block;
    width:100px;
    height:100px;
    border:1px solid black;
    vertical-align:top;
    margin-right:10px;
}

.sideContent{
    display:inline-block;
    width:250px;
}

.container {
    color: #000;
    margin: 0;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 800px;
}



