/* 
    Document   : login
    Created on : Sep 12, 2013, 7:56:17 AM
    Author     : Gustaf Ringius <gustaf@linux.com>
    Description:
        Here is a login specific css. Ordering the login box
        
*/

#top {
    padding: 100px 0 0 250px;
}
#recap {
    font: 10px Arial;
}

#login-box {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -240px;
    width:330px;
    height: 350px;
    padding: 58px 106px 0 76px;
    color: #ebebeb;
    font: 12px Arial, Helvetica, sans-serif;
    background: url(../img/login-box.png) no-repeat left top;
}

#login-box img {
    border:none;
    margin-left:15px;
}

#login-box h2 {
    padding:0;
    margin:0;
    color: #ebebeb;
    font: bold 44px "Calibri", Arial;
}


#login-box-name {
    float: left;
    display:inline;
    margin-top:30px;
    width:80px;
    text-align: right;
    padding: 14px 10px 0 0;
    margin:0 0 7px 0;
}

#login-box-field {
    float: left;
    margin-top:20px;
    display:inline;
    width:230px;
    margin:0;
    margin:0 0 7px 0;
}
#newUser {
    margin-left:20px;
}
#submit {
    margin-left:90px;
    height:46px;
}

#forgot {
    margin-left:10px;
    text-decoration: underline;
}
#forgot:hover {
    color: #c62d1f;
}


.form-login  {
    width: 205px;
    padding: 10px 4px 6px 3px;
    border: 1px solid black;
    background-color:grey;
    font-size: 16px;
    color: #ebebeb;
}


.login-box-options  {
    clear:both;
    padding-left:87px;
    font-size: 11px;
}

.login-box-options a {
    color: #ebebeb;
    font-size: 11px;
}
form label.error{
    font:10px Tahoma,sans-serif;
    color:#ED7476;
    margin-left:5px; 
    display:inline;
}

input:required:invalid, input:focus:invalid,form input.error,form input.error:hover,
form input.error:focus,form select.error,form textarea.error {
    background-image: url(../img/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;
}

fieldset { 
    padding:0; 
    border:0; 
    margin-top:20px; 
}

#center {
    text-align:center
}

#imp {
    color: red;
}

input.text { 
    margin-bottom:12px; 
    width:95%; 
    padding: .4em; 
}


.ui-dialog {
    padding: .5em;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:7px;
	-moz-border-radius-topleft:7px;
	border-top-left-radius:7px;
	-webkit-border-top-right-radius:7px;
	-moz-border-radius-topright:7px;
	border-top-right-radius:7px;
	-webkit-border-bottom-right-radius:7px;
	-moz-border-radius-bottomright:7px;
	border-bottom-right-radius:7px;
	-webkit-border-bottom-left-radius:7px;
	-moz-border-radius-bottomleft:7px;
	border-bottom-left-radius:7px;
	text-indent:0px;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:43px;
	line-height:43px;
	width:98px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}

.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}
.button:active {
	position:relative;
	top:1px;
}

.password-meter {
        font-size:13px;
	position:relative;
	width: 340px;
}
.password-meter-message {
	text-align: right;
	font-weight: bold;
	color: #676767;
}
.password-meter-bg, .password-meter-bar {
	height: 4px;
}
.password-meter-bg {
	top: 8px;
	background: #e0e0e0;
}

.password-meter-message-very-weak {
	color: #aa0033;
}
.password-meter-message-weak {
	color: #f5ac00;
}
.password-meter-message-good {
	color: #6699cc;
}
.password-meter-message-strong {
	color: #008000;
}

.password-meter-bg .password-meter-very-weak {
	background: #aa0033;
	width: 30px;
}
.password-meter-bg .password-meter-weak {
	background: #f5ac00;
	width: 60px;
}
.password-meter-bg .password-meter-good {
	background: #6699cc;
	width: 135px;
}
.password-meter-bg .password-meter-strong {
	background: #008000;
	width: 180px;
}