/* 
    Document   : style
    Created on : Sep 12, 2013, 7:56:17 AM
    Author     : Gustaf Ringius <gustaf@linux.com>
    Description:
        This file includes the style for elements that
        should be the same for all pages like footer
        header and menu should all have the same style
        on all pages that links to this css file.
*/

html { 
    background: url(../img/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
footer{
    color: #ebebeb;
}

#menubody {
    background-color:#eee;
    color:#fff;
    font:14px/1.3 Arial,sans-serif;
}

.info {
    color: grey;
    text-decoration: underline;
}
.info:hover {
    color: #c62d1f;
}

.no-close .ui-dialog-titlebar-close {display: none }