/* 
    Document   : timeline
    Created on : Sep 18, 2013, 4:57:13 PM
    Author     : Gustaf Ringius <gustaf@linux.com>
    Description:
        Purpose of the stylesheet follows.
*/

#context {
    background-color: #FFF;
}

p {
    font-family: Verdana, 'Lucida Grande';
}

#contextTable {
    font-family: verdana,arial,sans-serif;
    color:#333333;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

#contextTable th {
    border-style: solid;
    border-color: #666666;
    background-color: #232323;
    color: #A0A0A0;
    font-family: Verdana,'Lucida Grande';
}

#contextTable td {
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

.contextTable {
    font-family: verdana,arial,sans-serif;
    color:#333333;
    border-color: #666666;
    border-collapse: collapse;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

.contextTable th {
    border-style: solid;
    border-color: #666666;
    background-color: #232323;
    color: #A0A0A0;
    font-family: Verdana,'Lucida Grande';
}

.contextTable td {
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

.link {
    color: #710909;
    cursor: pointer;
}

.link :hover{
    color: #EE5757;
    cursor: pointer;
}

#errorBox {
    font-family: verdana,arial,sans-serif;
    color: #F00;
    font-weight: bold;
}

input[type="text"] {   
    border: solid 1px #E5E5E5;  
    outline: 0;  
    font: normal 13px/100% Verdana, Tahoma, sans-serif;  
    background: #FFFFFF;  
}  
input[type="button"] {  
    background: #333333;  
    border: 0;  
    color: #A0A0A0;  
}  

input:hover, textarea:hover,  
input:focus, textarea:focus {   
    border-color: #C9C9C9;   
}  

fieldset {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    border: 2px groove threedface;
}


label {   
    color: #999999;
    float:left;
    text-align:right;
    font-weight:bold;
}  


