/* 
    Document   : timeline
    Created on : Sep 18, 2013, 4:57:13 PM
    Author     : Gustaf Ringius <gustaf@linux.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    
}

#context {
    margin-left: 5px;
}

p {
    font-family: Verdana, 'Lucida Grande';
    font-size: 15px;
}

#contextTable {
    font-size:15px;
    border-width: 1px;
    border-collapse: collapse;
}

#contextTable th {
    border-width: 1px;
    padding: 8px;
}

#contextTable td {
    border-width: 1px;
    padding: 8px;
}

.contextTable {
    font-size:15px;
    border-width: 1px;
    border-collapse: collapse;
}

.contextTable th {
    border-width: 1px;
    padding: 8px;
}

.contextTable td {
    border-width: 1px;
    padding: 8px;
}

#errorBox {
    font-size: small;
    display: block;
}

input[type="text"] {   
    padding: 9px;  
    width: 200px;  
}  
input[type="button"] {  
    width: 10%;  
    padding: 9px 15px;  
    font-size: 14px;  
}  

fieldset {
    border-radius: 10px;
    float:context;
    margin: 20px;
    padding: 20px;
    border: 2px groove threedface;
}


label {   
    margin-left: 10px;   
    float:left;
    width:10%;
    margin-right:0.5em;
    padding-top:0.2em;
}  

.largeUserPicture {
    max-width: 200px;
    max-height: 350px;
}

.smallUserPicture {
    max-width: 50px;
    max-height: 50px;
}